Desafio:
Trabalhamos em uma importadora e compramos e vendemos commodities:
Soja, Milho, Trigo, Petróleo, etc.
Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

In [28]:
#!pip install selenium

#webdriver
#firefox -> geckodriver
#chrome ->chromedriver

In [29]:
from selenium import webdriver

#abrir navegador:
navegador = webdriver.Chrome()
#navegador.get('https://www.google.com.br/')

In [30]:
import pandas as pd

#importar base de dados:
tabela = pd.read_excel('commodities.xlsx')
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [32]:
for linha in tabela.index:
    produto = tabela.loc[linha, 'Produto']
    produto = produto.replace('ó', 'o').replace('ã', 'a').replace('á', 'a').replace('ç', 'c').replace('ú', 'u').replace('é', 'e')
    link = f'https://www.melhorcambio.com/{produto}-hoje'
    navegador.get(link)
    
    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace('.', '').replace(',', '.')
    print(f"preço {tabela.loc[linha, 'Produto']}: {preco}")
    tabela.loc[linha, 'Preço Atual'] = float(preco)
    
display(tabela)    
    
# .send_keys('') -> escrever
# .get_attribute() -> pega um valor

preço Milho: 85.37
preço Soja: 162.12
preço Boi: 278.90
preço Petróleo: 388.87
preço Algodão: 491.68
preço Açúcar: 136.88
preço Café: 1128.17
preço Ouro: 329.94
preço Trigo: 1549.08
preço Tilápia: 9.05

    Produto  Preço Ideal Preço Atual  Comprar
0     Milho        85.32       85.37      NaN
1      Soja       163.59      162.12      NaN
2       Boi       282.20       278.9      NaN
3  Petróleo       424.37      388.87      NaN
4   Algodão       497.76      491.68      NaN
5    Açúcar       136.23      136.88      NaN
6      Café      1092.87     1128.17      NaN
7      Ouro       321.77      329.94      NaN
8     Trigo      1549.11     1549.08      NaN
9   Tilápia         9.05        9.05      NaN

In [33]:
#coluna comprar

tabela['Comprar'] = tabela['Preço Atual'] < tabela['Preço Ideal']
display(tabela)

    Produto  Preço Ideal Preço Atual  Comprar
0     Milho        85.32       85.37    False
1      Soja       163.59      162.12     True
2       Boi       282.20       278.9     True
3  Petróleo       424.37      388.87     True
4   Algodão       497.76      491.68     True
5    Açúcar       136.23      136.88    False
6      Café      1092.87     1128.17    False
7      Ouro       321.77      329.94    False
8     Trigo      1549.11     1549.08     True
9   Tilápia         9.05        9.05    False

In [35]:
# exportando para excel
tabela.to_excel('commodities_atualizado.xlsx', index=False)